@page
@model IndexModel
@{
    ViewData["Title"] = "Company X HR department";
}

<div class="text-center">
    <h1 class="display-4">Company X HR department</h1>
    <p>Verify a Diploma verifiable credential</p>
</div>
