@page
@model CompanyXHumanResources.Pages.VerifyStudentDiplomaModel
@{
    ViewData["Title"] = "Verify your Diploma";
}

<h2>Verify a VC Diploma (CredentialOffer)</h2>

<form method="post">
    <button type="submit" class="btn btn-primary col-sm-10">Verify your Diploma</button>
</form>

<br />
<br />

<p>@Model.ProofDocumentJson</p>
