@page
@model CompanyXHumanResources.Pages.VerifyStudentDiplomaModel
@{
    ViewData["Title"] = "Verify your Diploma";
}

<h2>Verify a VC diploma</h2>

<form method="post" class="col-lg-6 col-md-9 col-sm-12">

    <div class="mb-3">

        <select name="University" asp-items="Model.Universities"></select>

        <label for="DiplomaProof" class="form-label">Diploma Proof *</label>
        <input type="text" class="form-control" required asp-for="@Model.DiplomaProof" id="DiplomaProof" aria-describedby="diplomaProofHelp">
        <div id="diplomaProofHelp" class="form-text">Proof to validate university diploma</div>
    </div>

    <button type="submit" class="btn btn-primary col-12">Validate</button>
</form>

<br />
<br />

<i>Diploma is valid: </i>
<p>@Model.UniversityCredentialIsValid</p>
