@page
@model CompanyXHumanResources.Pages.VerifyStudentDiplomaModel
@{
}

<h2>Verify a VC Diploma (CredentialOffer)</h2>
</>


<form method="post">
    <button type="submit" class="btn btn-primary col-sm-10">Verify your Diploma</button>
</form>

<br />
<br />

<textarea>@Model.ProofDocumentJson</textarea>
