@page
@model TrinsicV2WebWallet.Pages.ConnectToWalletModel
@{
    ViewData["Title"] = "Wallet, create proof";
}

<h2>Create proof for univeristy Diploma, Connect to Wallet </h2>

<form method="post">
    <button type="submit" class="btn btn-primary col-sm-10">Connect to Wallet</button>
</form>
