@page
@model TrinsicV2WebWallet.Pages.ConnectToWalletModel
@{
    ViewData["Title"] = "Wallet, create proof";
}

<h2>Create proof for univeristy Diploma, Connect to Wallet </h2>

<form method="post" class="col-lg-6 col-md-9 col-sm-12">
    <div class="mb-3">
        <label for="Email" class="form-label">Email address *</label>
        <input type="email" class="form-control" required asp-for="@Model.Email" id="Email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Wallet Email</div>
    </div>

    <button type="submit" class="btn btn-primary col-12">Connect</button>
</form>


