@page
@model TrinsicV2WebWallet.Pages.CreateStudentDiplomaProofModel
@{
    ViewData["Title"] = "Wallet, create proof";
}

<h2>Create proof for university diploma </h2>

<form method="post" class="col-lg-6 col-md-9 col-sm-12">

    <div class="mb-3">
        <label for="Credential" class="form-label">Select your credential *</label>
        <select name="Credential" asp-items="Model.Credentials" class="form-control" aria-describedby="credentialsHelp"></select>
        <div id="credentialsHelp" class="form-text">Choose the credential in the wallet you would like to verify</div>
    </div>

    <button type="submit" class="btn btn-primary col-12">Create</button>
</form>


<br />

<i>The proof can be shared with the verifier application</i>

<hr />

<p>@Model.ProofDocumentJson</p>
