@page
@model TrinsicV2WebWallet.Pages.CreateStudentDiplomaProofModel
@{
    ViewData["Title"] = "Wallet, create proof";
}

<h2>Create proof for univeristy Diploma </h2>

<form method="post">
    <button type="submit" class="btn btn-primary col-sm-10">Verify your Diploma</button>
</form>

<br />
<br />

<p>@Model.ProofDocumentJson</p>
