@page
@model IndexModel
@{
    ViewData["Title"] = "Trinsic Web Wallet";
}

<div class="text-center">
    <h1 class="display-4">Student Web Wallet</h1>
    <p>Create Proofs from credentials in your wallet</p>
</div>
