@page
@model University.Pages.CreateUniversityIssuerModel
@{
}

<h2>Create a new University Issuer Wallet</h2>

<p>The university administrator can create an issuer wallet which is used to issue diplomas</p>
<p>The issuer is registered to use the templates</p>
<p>Save these values to issue credentials using this wallet.</p>

<h3>University Issuer Wallet ID</h3>

<p>@Model.WalletId</p>

<h3>University Issuer AuthToken</h3>

<p>@Model.AuthToken</p>

<form method="post">
    <button type="submit" class="btn btn-primary col-sm-10">Create University Issuer Wallet</button>
</form>
