@page
@model University.Pages.CreateUniversityIssuerModel
@{
}

<h2>Create a new University Issuer</h2>

<p>The university administrator can create an issuer</p>


<form method="post">

    <button type="submit" class="btn btn-primary col-sm-10">Create University Issuer</button>
</form>
