@page
@model University.Pages.CreateUniversityIssuerModel
@{
}

<h2>Create a new University Issuer</h2>

<p>The university administrator can create an issuer</p>

<h2>Wallet ID</h2>

<p>@Model.WalletId</p>

<h2>@Model.AuthToken for Issuer</h2>

<p>@Model.AuthToken</p>

<form method="post">

    <button type="submit" class="btn btn-primary col-sm-10">Create University Issuer</button>
</form>
