@page
@model University.Pages.CreateNewDiplomaModel
@{
}

<h2>Create a new University Diploma</h2>

<p>The university administrator can create new diploma templates which can be issued to students for different courses.</p>

<p>The creates a new issuer VC template</p>

<form method="post">

    <button type="submit" class="btn btn-primary col-sm-10">Create new Diploma</button>
</form>
