@page
@model University.Pages.CreateUniversityIssuerModel
@{
}

<h2>Create a new University Issuer Wallet</h2>

<p>The university administrator can create an issuer wallet which is used to issue diplomas</p>
<p>The issuer is registered to use the templates</p>
<p>Save these values to issue credentials using this wallet.</p>

<form method="post" class="col-lg-6 col-md-9 col-sm-12">
    <button type="submit" class="btn btn-primary col-12">Create University Issuer Wallet</button>
</form>

<br />
<br />

<i>University Issuer Wallet ID</i>

<p>@Model.WalletId</p>

<i>University Issuer AuthToken</i>

<p>@Model.AuthToken</p>


