@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Trinsic.id V2 SSI Issue VCs</h1>
    <p>ID-Tech using Trinsic.id and ASP.NET Core, Issuer</p>
</div>
