@page
@model University.Pages.IssueStudentDiplomaModel
@{
}

<h2>Get your VC Diploma (Credential Offer)</h2>

<p>A student can use this page to get a diploma for a successfully course completion.</p>
<p>Access to this page and the diploma is controlled by the university administrator.</p>
<p>The creates a new credential VC offer for one of your diplomas</p>

<form method="post" class="col-lg-6 col-md-9 col-sm-12">

    <div class="mb-3">
        <label for="DiplomaTemplateId" class="form-label">Select your diploma *</label>
        <select name="DiplomaTemplateId" asp-items="Model.Diplomas" class="form-control" aria-describedby="diplomaTemplateIdHelp"></select>
        <div id="diplomaTemplateIdHelp" class="form-text">Choose the diploma in the wallet you would like add to your wallet</div>
    </div>

    <button type="submit" class="btn btn-primary col-12">Get your Diploma</button>
</form>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="qr" id="qrCode"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/qrcode.min.js"></script>
    <script type="text/javascript">
            new QRCode(document.getElementById("qrCode"),
                {
                    text: "@Html.Raw(Model.CredentialOfferUrl)",
                    width: 300,
                    height: 300
                });

        $(document).ready(() => {
            document.getElementById('begin_token_check').click();
        });

    </script>
}
